<footer class="footer-1">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-4 centered">
        <h4>EMAIL</h4>
        <a href="mailto:service@rgwealth.com" target="_blank">service@rgwealth.com</a>
      </div>
      <div class="col-xs-12 col-sm-4 centered">
       <h4>PHONE</h4>
         <a href="tel:832-789-1100">(832) 789-1100</a>
         <br>
         <a href="tel:888-332-8108">(888) 332-8108</a>
       </div>
       <div class="col-xs-12 col-sm-4 centered">
         <h4>ADDRESS</h4>
         <a href="https://goo.gl/maps/DcqffdT22p32" target="_blank">
           1330 Lake Robbins Drive, Suite 360
           <br>
           The Woodlands, TX 77380
         </a>
       </div>
     </div>
   </div>
</footer>
