<nav id="Nav" class="navbar navbar-dark navbar-fixed-top nav-collapse2" role="navigation">
  <div class="container">
    <div class="col-xs-4 left">
      <a class="btn secondary btn-block yellow-outline" href="https://rhamegorrell.portal.tamaracinc.com/Login.aspx?ReturnUrl=%2f" rel="noopener noreferrer" target="_blank" style="max-width:150px;">Client Portal</a>
    </div>
    <div class="col-xs-4 right">
      <a class="btn secondary btn-block yellow-outline" href="contact-us.html" rel="noopener noreferrer" style="max-width:150px; float: right;">Contact Us</a>
    </div>
    <div class="col-xs-4 centered">
      <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand left" href="index.html">
        <span class="logo"
          <h1>
            <img src="images/rg-wealth-logo-1.jpg" alt="Rhame &amp; Gorrell Logo" />
          </h1>
        </span>
      </a>
    </div>
    </div>
  </div>
  <div class="fill">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="col-xs-12">
      <div class="collapse navbar-collapse navbar-centered navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section dawgo -->
          <li class="hidden">
            <a href="#page-top"></a>
          </li>
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="our-firm.html">Our Firm</a>
          </li>
          <li>
            <a href="our-team.html">Our Team</a>
          </li>
          <li>
            <a href="events.html">Events</a>
          </li>
          <li>
            <a href="exxonmobil.html">ExxonMobil Employees</a>
          </li>
          <li>
            <a href="#">Newsletter</a>
          </li>
          <li>
            <a href="#">Links</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
