<nav id="Nav" class="navbar navbar-dark navbar-fixed-top nav-collapse2" role="navigation">

  <!-- NAVBAR UPPER LAYER -->
  <div class="container">

    <!-- CLIENT PORTAL BTN -->
    <div class="col-xs-3 navbar-left hidden-xs">
      <a class="btn secondary btn-block yellow-outline nav-buttons" href="https://rhamegorrell.portal.tamaracinc.com/Login.aspx?ReturnUrl=%2f" rel="noopener noreferrer" target="_blank" style="float: left;">Client Portal</a>
    </div>

    <!-- RG WEALTH LOGO -->
    <a class="col-xs-10 col-sm-6 navbar-center" href="index.html">
      <span class="logo img-centered">
          <img src="images/rg-wealth-logo-1.jpg" alt="Rhame &amp; Gorrell Logo" style="vertical-align: middle;"/>
      </span>
    </a>

    <!-- COLLAPSE 3-BARS -->
    <div class="navbar-header page-scroll right col-xs-2">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars" style="font-size:2em;"></i>
      </button>
    </div>

    <!-- CONTACT US BTN -->
    <div class="col-xs-3 navbar-right ">
      <a class="btn secondary btn-block yellow-outline hidden-xs nav-buttons" href="contact-us.html" rel="noopener noreferrer" style="float: right;">Contact Us</a>
    </div>

  </div>

  <!-- NAVBAR LOWER LAYER -->
  <div class="fill">
    <div class="col-xs-12">
      <div class="collapse navbar-collapse navbar-centered navbar-main-collapse">
        <ul class="nav navbar-nav">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden"><a href="#page-top"></a></li>
          <li><a href="index.html">Home</a></li>
          <li><a href="our-firm.html">Our Firm</a></li>
          <li><a href="our-team.html">Our Team</a></li>
          <li><a href="events.html">Events</a></li>
          <li><a href="exxonmobil.html">ExxonMobil Employees</a></li>
          <li><a href="#">Newsletter</a></li>
          <li><a href="#">Links</a></li>
          <li><a class="btn secondary btn-block yellow-outline visible-xs nav-buttons-xs" href="https://rhamegorrell.portal.tamaracinc.com/Login.aspx?ReturnUrl=%2f" rel="noopener noreferrer" target="_blank">Client Portal</a></li>
          <li><a class="btn secondary btn-block yellow-outline visible-xs nav-buttons-xs" href="contact-us.html" rel="noopener noreferrer">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>

</nav>
