<div class="container">
  <div class="row">
    <!-- #1 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/jeff-headshot.jpg" alt="Jeffrey G. Rhame, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Jeff is a Certified Financial Planner® (CFP) and has been...</p>
              <a href="#" data-toggle="modal" data-target="#jeff-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Jeffrey G. Rhame, CFP®</h5>
          <span>Managing Director</span>
        </div>
      </div>
      <!-- #2 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/mike-headshot.jpg" alt="Michael R. Gorrell, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Mike grew up in Fort Wayne Indiana and...</p>
              <a href="#" data-toggle="modal" data-target="#mike-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Michael R. Gorrell, CFP®</h5>
          <span>Senior Wealth Manager</span>
        </div>
      </div>
      <!-- #3 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/henry-headshot.jpg" alt="Henry Pizzutello" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk" style="margin-top:10px">
              <hr />
              <p>Mr. Pizzutello most recently served as Head of...</p>
              <a href="#" data-toggle="modal" data-target="#henry-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Henry Pizzutello</h5>
          <span>Chief Investment Officer</span>
        </div>
      </div>
  </div>
  <div class="row">
    <!-- #4 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/roland-headshot.jpg" alt="Roland Thornton" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Roland joined us in 1997. He attended the University...</p>
              <a href="#" data-toggle="modal" data-target="#roland-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Roland Thornton</h5>
          <span>Chief Compliance Officer</span>
        </div>
      </div>
      <!-- #5 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/brecklynn-headshot.jpg" alt="Brecklynn Williams" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Brecklynn joined us in 2007. She is currently working towards a BBA...</p>
              <a href="#" data-toggle="modal" data-target="#brecklynn-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Brecklynn Williams</h5>
          <span>Business Development Manager</span>
        </div>
      </div>
      <!-- #6 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/kelly-headshot.jpg" alt="Kelly Hess" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk" style="margin-top:10px">
              <hr />
              <p>Kelly joined us in 2012. She graduated with Honors from...</p>
              <a href="#" data-toggle="modal" data-target="#kelly-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Kelly Hess</h5>
          <span>Client Relationship Manager</span>
        </div>
      </div>
  </div>
  <div class="row">
    <!-- #7 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/kyle-headshot.jpg" alt="Kyle Nickerson" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Kyle joined us in 2014. He is currently pursuing a degree in...</p>
              <a href="#" data-toggle="modal" data-target="#kyle-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Kyle Nickerson</h5>
          <span>Operations Manager</span>
        </div>
      </div>
      <!-- #8 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/mcclain-headshot.jpg" alt="Kyle McClain" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Kyle joined us in 2017. He graduated from the University of...</p>
              <a href="#" data-toggle="modal" data-target="#mcclain-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Kyle McClain</h5>
          <span>Client Relationship Manager</span>
        </div>
      </div>
      <!-- #9 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/amber-headshot.jpg" alt="Amber Berryman" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk" style="margin-top:10px">
              <hr />
              <p>Amber joined us in 2014. She is currently working towards a Bachelors...</p>
              <a href="#" data-toggle="modal" data-target="#amber-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Amber Berryman</h5>
          <span>Client Relationship Associate</span>
        </div>
      </div>
  </div>
  <div class="row">
    <!-- #10 -->
      <div class="col-md-4 col-md-offset-2 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/melissa-headshot.jpg" alt="Melissa Rudell" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Melissa joined us in 2017. She graduated from the University of...</p>
              <a href="#" data-toggle="modal" data-target="#melissa-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Melissa Rudell</h5>
          <span>Client Relationship Associate</span>
        </div>
      </div>
      <!-- #11 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/jason-headshot.jpg" alt="Jason Rhame" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Coming soon...</p>
              <a href="#" data-toggle="modal" data-target="#jason-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Jason Rhame</h5>
          <span>Business Development</span>
        </div>
      </div>
  </div>
</div>
