<section class="about-1">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Our Team</h2>
          <hr class="primary">
        </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <p>
          <strong>We believe a firm is only as good as its team.</strong> We currently have 8 college degrees (3 graduated with honors), 2 Certified Financial Planners and 2 enrolled in CFP programs on our staff. Everyone works in-house, together, on your behalf. A large team is necessary to provide the service clients expect and deserve, while also providing the security of a succession plan. A team gives you the peace of mind that you and your heirs will always have someone to help with your needs.
        </p>
      </div>
    </div>


    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div id="about-1-carousel" class="text-center">

            <!-- #1 JEFF RHAME -->
            <div class="item about-img-1">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/jeff-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Jeff Rhame</h3>
                  <p>Managing Director</p>
                  <ul class="list-inline">
                    <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    </li>
                    <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                    </li>
                    <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                    </li>
                </ul>
              </div>
            </div>

            <!-- #2 MICHAEL GORRELL -->
            <div class="item about-img-2">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/mike-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Michael Gorrell</h3>
                  <p>Senior Wealth Manager</p>
                  <ul class="list-inline">
                    <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                    </li>
                    <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                    </li>
                    <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                    </li>
                </ul>
              </div>
            </div>

            <!-- #3 HENRY PIZZUTELLO -->
            <div class="item about-img-3">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/henry-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Henry Pizzutello</h3>
                <p>Chief Investment Officer</p>
                <ul class="list-inline">
                  <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- #4 ROLAND THORNTON -->
            <div class="item about-img-4">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/roland-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Roland Thornton</h3>
                <p>Chief Compliance Officer</p>
                <ul class="list-inline">
                  <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- #5 BRECKLYNN WILLIAMS -->
            <div class="item about-img-5">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/brecklynn-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Brecklynn Williams</h3>
                <p>Business Development Manager</p>
                <ul class="list-inline">
                  <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- #6 KELLY HESS -->
            <div class="item about-img-6">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/kelly-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Kelly Hess</h3>
                <p>Client Relationship Manager</p>
                <ul class="list-inline">
                  <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- #7 KYLE NICKERSON -->
            <div class="item about-img-7">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/kyle-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Kyle Nickerson</h3>
                <p>Operations Manager</p>
                <ul class="list-inline">
                  <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
                </ul>
              </div>
            </div>

            <!-- #8 KYLE MCCLAIN -->
            <div class="item about-img-8">
              <div class="info">
                <!-- Mobile Fallback Image -->
                <img class="img-responsive img-circle visible-xs" src="images/mcclain-headshot.jpg" alt="">
                <!-- Name / Position / Social Links -->
                <h3>Kyle McClain</h3>
                <p>Client Relationship Manager</p>
                <ul class="list-inline">
                  <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                  </li>
                  <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                  </li>
              </ul>
            </div>
          </div>

          <!-- #9 AMBER BERRYMAN -->
          <div class="item about-img-9">
            <div class="info">
              <!-- Mobile Fallback Image -->
              <img class="img-responsive img-circle visible-xs" src="images/amber-headshot.jpg" alt="">
              <!-- Name / Position / Social Links -->
              <h3>Amber Berryman</h3>
              <p>Client Relationship Associate</p>
              <ul class="list-inline">
                <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <!-- #10 MELISSA RUDELL -->
          <div class="item about-img-10">
            <div class="info">
              <!-- Mobile Fallback Image -->
              <img class="img-responsive img-circle visible-xs" src="images/melissa-headshot.jpg" alt="">
              <!-- Name / Position / Social Links -->
              <h3>Melissa Rudell</h3>
              <p>Client Relationship Associate</p>
              <ul class="list-inline">
                <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <!-- #11 JASON RHAME -->
          <div class="item about-img-11">
            <div class="info">
              <!-- Mobile Fallback Image -->
              <img class="img-responsive img-circle visible-xs" src="images/jason-headshot.jpg" alt="">
              <!-- Name / Position / Social Links -->
              <h3>Jason Rhame</h3>
              <p>Business Development</p>
              <ul class="list-inline">
                <li><a class="light-text" href="#"><i class="fa fa-facebook fa-fw"></i></a>
                </li>
                <li><a class="light-text" href="#"><i class="fa fa-linkedin fa-fw"></i></a>
                </li>
                <li><a class="light-text" href="#"><i class="fa fa-twitter fa-fw"></i></a>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
    </div>

    </div>
  </div>
</section>
