<div class="container">
  <div class="row">
    <!-- #1 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/jeff-headshot.jpg" alt="Jeffrey G. Rhame, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Jeff is a Certified Financial Planner® (CFP) and has been...</p>
              <a href="#" data-toggle="modal" data-target="#jeff-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Jeffrey G. Rhame, CFP®</h5>
          <span>Managing Director</span>
        </div>
      </div>
      <!-- #2 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/mike-headshot.jpg" alt="Michael R. Gorrell, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Mike grew up in Fort Wayne Indiana and...</p>
              <a href="#" data-toggle="modal" data-target="#mike-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Michael R. Gorrell, CFP®</h5>
          <span>Senior Wealth Manager</span>
        </div>
      </div>
      <!-- #3 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/henry-headshot.jpg" alt="Henry Pizzutello" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk" style="margin-top:10px">
              <hr />
              <p>Mr. Pizzutello most recently served as Head of...</p>
              <a href="#" data-toggle="modal" data-target="#henry-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Henry Pizzutello</h5>
          <span>Chief Investment Officer</span>
        </div>
      </div>
  </div>
  <div class="row">
    <!-- #4 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/jeff-headshot.jpg" alt="Jeffrey G. Rhame, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Jeff is a Certified Financial Planner® (CFP) and has been...</p>
              <a href="#" data-toggle="modal" data-target="#jeff-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Jeffrey G. Rhame, CFP®</h5>
          <span>Managing Director</span>
        </div>
      </div>
      <!-- #5 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/mike-headshot.jpg" alt="Michael R. Gorrell, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Mike grew up in Fort Wayne Indiana and...</p>
              <a href="#" data-toggle="modal" data-target="#mike-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Michael R. Gorrell, CFP®</h5>
          <span>Senior Wealth Manager</span>
        </div>
      </div>
      <!-- #6 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/henry-headshot.jpg" alt="Henry Pizzutello" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk" style="margin-top:10px">
              <hr />
              <p>Mr. Pizzutello most recently served as Head of...</p>
              <a href="#" data-toggle="modal" data-target="#henry-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Henry Pizzutello</h5>
          <span>Chief Investment Officer</span>
        </div>
      </div>
  </div>
  <div class="row">
    <!-- #7 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/jeff-headshot.jpg" alt="Jeffrey G. Rhame, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Jeff is a Certified Financial Planner® (CFP) and has been...</p>
              <a href="#" data-toggle="modal" data-target="#jeff-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Jeffrey G. Rhame, CFP®</h5>
          <span>Managing Director</span>
        </div>
      </div>
      <!-- #8 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/mike-headshot.jpg" alt="Michael R. Gorrell, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Mike grew up in Fort Wayne Indiana and...</p>
              <a href="#" data-toggle="modal" data-target="#mike-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Michael R. Gorrell, CFP®</h5>
          <span>Senior Wealth Manager</span>
        </div>
      </div>
      <!-- #9 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/henry-headshot.jpg" alt="Henry Pizzutello" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk" style="margin-top:10px">
              <hr />
              <p>Mr. Pizzutello most recently served as Head of...</p>
              <a href="#" data-toggle="modal" data-target="#henry-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Henry Pizzutello</h5>
          <span>Chief Investment Officer</span>
        </div>
      </div>
  </div>
  <div class="row">
    <!-- #10 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/jeff-headshot.jpg" alt="Jeffrey G. Rhame, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Jeff is a Certified Financial Planner® (CFP) and has been...</p>
              <a href="#" data-toggle="modal" data-target="#jeff-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Jeffrey G. Rhame, CFP®</h5>
          <span>Managing Director</span>
        </div>
      </div>
      <!-- #11 -->
      <div class="col-md-4 col-sm-4">
        <div class="team-member">
          <div class="team-img">
            <img src="images/mike-headshot.jpg" alt="Michael R. Gorrell, CFP" class="img-responsive img-centered">
          </div>
          <div class="team-hover">
            <div class="desk style="margin-top:10px"">
              <hr />
              <p>Mike grew up in Fort Wayne Indiana and...</p>
              <a href="#" data-toggle="modal" data-target="#mike-modal">Read Bio</a>
            </div>
          </div>
        </div>
        <div class="team-title centered">
          <h5>Michael R. Gorrell, CFP®</h5>
          <span>Senior Wealth Manager</span>
        </div>
      </div>
  </div>
</div>
